<html>
<head>
<script type="text/javascript" src="/javascript/skb/jquery.js"></script>
<script type="text/javascript" src="/javascript/skb/crafty-min.js"></script>
<script type="text/javascript" src="/javascript/skb/components.js"></script>
<script type="text/javascript" src="/javascript/skb/entities.js"></script>
<script type="text/javascript" src="/javascript/skb/game.js"></script>
<link type="text/css" rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>

</head>
<body>
</body>
</html>
