body {
  font-family: 'Nova Square', sans-serif;
  padding: 0px 200px;
  text-align: center;
}

a {
  color: #FAFF78;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div#content  {
  width: 800px;
  margin: 0 auto;
}

form {
  margin: 0 1em;
  padding: 1em;
  border: 5px transparent;
}

input.error {
  background: #FAFF78;
}

header {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura-CondensedExtraBold', 'Futura', 'Helvetica', sans-serif;
  text-transform: uppercase;
}

